#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

.grid-label {
  font: bold 10px monospace;
  text-align: center;
  color: #333;
  white-space: nowrap;
}
